.konten {
    width: 80%;
    margin: 0 auto;
}

img {max-width:100%; height:auto}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-player__playing {
    margin-bottom: 1.000em;
}

.video-player__thumbs {
    overflow: hidden;
}

.video-thumb {
    float: left;
    width: 23.5%;
    position: relative;
    overflow: hidden;
    padding-bottom: 13%;
    margin-bottom: 0.375em;
    cursor: pointer;
}

.video-thumb:not(:last-child) {
    margin-right: 2%;
}

.video-thumb.active {
    cursor: default;
}

.video-thumb:before,
.video-thumb:after {
    display: block;
    position: absolute;
    transition: all 250ms ease-out;
    z-index: 1;
}

.video-thumb:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 148, 30, 0);
}

.video-thumb.active:before {
    background: rgba(247, 148, 30, 0.75);
}

.video-thumb:not(.active):hover:before {
    background: rgba(247, 148, 30, 0.30);
}

.video-thumb:after {
    content: "\f144";
    font-family: "FontAwesome";
    top: 50%;
    left: 50%;
    margin: -0.458em 0 0 -0.500em;
    color: rgba(255, 255, 255, 0);
    font-size: 3.000em;
    line-height: 1;
}

.video-thumb.active:after {
    color: rgba(255, 255, 255, 1);
}

.video-thumb img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}